
.containers{
    width: 60%;
    height: 100%;
    margin-left: 20%;
    .header {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        margin: 40px 0;
        h1{
            align-self: center;
            span{
                color: #1eb7dd;
            }
        }
    }

    .body{
        width: 100%;
        height: 360px;
        display: flex;
        justify-content: center;
        .reviews {
            width: 70%;
            height: 360px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            padding: 30px;
            display: flex;
            justify-content: center;
            .a{
                width: 50%;
                height: 360px; 
                position: absolute;
                transition: all 0.5s linear;
                .image{
                border-radius: 50%;
                height: 150px;
                width: 150px;
                position: relative;
                border-radius: 50%;
                margin: 0 auto;
                margin-bottom: 1.5rem;
                img{
                    width: 100%;
                    display: block;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    position: relative;
                    box-shadow: 10px -10px 5px 0px rgba(0,0,0,0.8);
                }
                svg{
                    position: absolute;
                    top: -21px; left: 0;
                    font-size: 30px;
                    margin-top: 40px;
                }
            }
    
            .content{
                .name {
                    margin-bottom: 0.25rem;
                    text-transform: capitalize;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 700;
                    font-size: 19px;
                }
                .job {
                    margin-bottom: 0.5rem;
                    text-transform: uppercase;
                    font-size: 0.85rem;
                    color: #22b7dd;
                    font-size: 14px;
                }
                .text {
                    margin-bottom: 0.75rem;
                }
            }}
        }
        .icon{
            display: flex;
            align-self: center;
            svg{
                font-size: 30px;
                &:hover{
                    color: #22b7dd
                }
            }
        }
    }
}

.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
.lastSlide {
    opacity: 0;
    transform: translateX(-130%);
  }
.nextSlide {
    opacity: 0;
    transform: translateX(130%);
  }